<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <%- include('partials/head');%>
  </head>
  <body id="page-login">
    <section class="login-container">
      <h1>Sign in</h1>

      <form action="/login/password" method="post" autocomplete="off">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            class="form-control"
            id="username"
            name="username"
            type="text"
            required
            autofocus
          />
        </div>

        <div class="form-group">
          <label class="label" for="password">Password</label>
          <input
            class="form-control"
            id="password"
            name="password"
            type="password"
            autocomplete="new-password"
            required
          />
        </div>

        <button class="btn btn-primary" type="submit">Login</button>
        <button
          class="btn btn-link"
          data-toggle="modal"
          data-target="#new-user"
        >
          Registrati
        </button>
      </form>
    </section>

    <% if(locals && locals.successSignup){ %>
    <p>Utente aggiunto con successo!</p>
    <% } %>

    <div class="modal fade" id="new-user" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Registrati</h5>
            <button
              type="button"
              class="close"
              id="close-modal"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form role="form" method="POST" action="/signup" autocomplete="off">
            <div class="modal-body">
              <div class="form-group">
                <label for="username">Username</label>
                <input
                  type="text"
                  name="username"
                  class="form-control"
                  required
                  autofocus
                />
              </div>

              <div class="form-group">
                <label for="password">Password</label>
                <input
                  type="password"
                  name="password"
                  class="form-control"
                  autocomplete="new-password"
                  required
                />
              </div>

              <div class="form-group">
                <label for="role">Tipo</label>
                <select class="form-control" name="role">
                  <option>Seleziona un tipo di utente</option>
                  <option>Creatore</option>
                  <option>Finanziatore</option>
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <div class="form-group">
                <div>
                  <button type="submit" class="btn btn-primary">Salva</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
