.container-contatti {
  margin: 15px 35px 15px 35px;
}

.row-titolo-contatti {
  margin-top: 8px;
  margin-bottom: 8px;
}

#titolo-contatti {
  margin: auto;
}

.container-mail {
  margin-left: 35px;
}

/* Inizio pagina Mission*/

.carousel-item {
  background-size: cover;
  background-blend-mode: multiply;
  max-height: 35rem;
}

#icone {
  margin: 3rem;
}

.block {
  display: block;
  width: 100%;
  border: none;
  background-color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
}

.b {
  color: black;
}
