.container-contatti {
  margin: 15px 35px 15px 35px;
}

.row-titolo-contatti {
  margin-top: 8px;
  margin-bottom: 8px;
}

#titolo-contatti {
  margin: auto;
}

.container-mail {
  margin-left: 35px;
}

/* Inizio pagina Mission*/

.carousel-item {
  background-blend-mode: multiply;
  max-height: 35rem;
}

#icone {
  margin: 3rem;
}
