.small-container {
  /*max-width: 1000px;*/
  margin: auto;
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 20px;
}

.row-dettaglio {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-around;
}

.row-dettaglio img {
  height: 100%;
  width: 100%;
}

.row-doc {
  padding-top: 25px;
}
.row-commenti {
  padding-top: 25px;
}

#firstL {
  text-transform: capitalize;
}

.info-utente p {
  font-size: 18px;
  font-style: italic;
}
.info-utente h4 {
  font-weight: bold;
}

.doc-container {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  align-items: flex-end;
  margin-bottom: 30px;
}

.single-comment {
  border: 1px solid black;
  padding: 5px;
  margin-bottom: 20px;
}

#table-documents-body .icon {
  cursor: pointer;
}
