* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.small-container {
  /*max-width: 1000px;*/
  margin: auto;
  padding-left: 25px;
  padding-right: 20px;
}

.row-dettaglio {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-4 img {
  max-width: 100%;
  padding: 50px 0;
}
