.small-container {
  /*max-width: 1000px;*/
  margin: auto;
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 20px;
}

.row-dettaglio {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-4 img {
  max-width: 100%;
  padding: 50px 0;
}

#firstL {
  text-transform: capitalize;
}

.info-utente p {
  font-size: 18px;
  font-style: italic;
}
.info-utente h4 {
  font-weight: bold;
}
