.container-card {
  margin: 25px auto 0;
  max-width: 800px;
  background-color: white;
}

.divider {
  margin: 3rem 0;
  border-color: blue;
}

.card {
  border-color: blue;
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 5px;
}

.container-doc {
  margin-bottom: 3rem;
}
